name: Azure Static Web Apps CI/CD

on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches:
      - master

jobs:
  build_and_deploy_job:
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.action != 'closed')
    runs-on: ubuntu-latest
    name: Build and Deploy Job
    steps:
      # משיכת הקוד
      - uses: actions/checkout@v3
        with:
          submodules: true
          lfs: false

      # התקנת Node.js
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      # התקנת תלויות
      - name: Install dependencies
        run: npm install
        env:
          NODE_OPTIONS: --openssl-legacy-provider

      # בניית האפליקציה Angular
      - name: Build Angular app
        run: npm run build -- --configuration production
        env:
          NODE_OPTIONS: --openssl-legacy-provider

      # העלאה ל-Azure Static Web Apps
      - name: Deploy to Azure Static Web Apps
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_JOLLY_SKY_09F1E4D03 }}
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          action: "upload"
          app_location: "dist/meitarim-app/browser"   # תיקיית הפלט של Angular
          api_location: "none"
          output_location: "dist/meitarim-app/browser"   # חייב להתאים ל-outputPath ב-angular.json
          skip_app_build: true

  close_pull_request_job:
    if: github.event_name == 'pull_request' && github.event.action == 'closed'
    runs-on: ubuntu-latest
    name: Close Pull Request Job
    steps:
      - name: Close Pull Request
        id: closepullrequest
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_JOLLY_SKY_09F1E4D03 }}
          action: "close"
